@import "tailwindcss";
body {
  font-family: Poppins, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.app {
  text-align: center;
}

.hero-section {
  background-color: #f9f9f9;
  padding: 2rem;
  text-align: center;
}

.hero-section .content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-section .content p {
  color: #555;
  margin-bottom: 2rem;
}



.buttons .btn {
  padding: 0.8rem 1.5rem;
  margin: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px; /* Optional: Rounded corners */
  background-color: #4caf50; /* Green background */
  color: #fff; /* White text */
  transition: background-color 0.3s ease;
}

.buttons .btn:hover {
  background-color: #45a049; /* Darker green on hover */
}



.features-section {
  background-color: #fff;
  padding: 2rem 1rem;
}

.features-section h2 {
  margin-bottom: 1rem;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.feature {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
  flex: 1 1 300px;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature h3 {
  color: #333;
}

.feature p {
  color: #555;
}

.join-section {
  background-color: #e8f5e9;
  padding: 2rem 1rem;
}

.footer-section {
  background-color: #4caf50;
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
}

.blog-section {
  padding: 2rem 1rem;
}

.blog-section h2 {
  margin-bottom: 1rem;
}

.blog-section p {
  color: #555;
}


.features button {
  color: #ffffff;
  background-color: #367740;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.features button2 {
  color: #367740;
  background-color: none;
  padding: 1rem 2rem;
  border: 1px solid #367740;
  border-radius: 0px;
  cursor: pointer;
}
